header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 80px;
  width: 80vw;
  margin: auto;
  font-size: 1.4em;
  font-weight: bold;
}

header span {
  margin-left: 25px;
  cursor: pointer;
}

header span.user-name {
  margin-right: 50px;
  cursor: default;
}

.signup-wrapper {
  background-color: #d9d9d9;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.signup-wrapper .signup-box {
  background-color: white;
  display: inline-block;
  padding: 100px 300px;
  margin: 10px 0;
  border: 1px solid gray;
}

.signup-wrapper .signup-box .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}

.signup-wrapper .signup-box .form .field {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left;
}

.signup-wrapper .signup-box .form .field input {
  font-size: 1.1em;
  padding: 5px 10px;
}

.signup-wrapper .signup-box .button-wrapper button {
  background-color: rgb(223, 186, 139);
  border: 1px solid rgb(179, 114, 29);
  font-size: 1.1em;
  padding: 5px 10px;
  margin-left: 10px;
  color: #4b4848;
  cursor: pointer;
}
